node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
*.log
.vscode/
.idea/
.config/replit/.semgrep/semgrep_rules.json
.config/.semgrep/semgrep_rules.json

.env
.config/replit/.semgrep/semgrep_rules.json
.local/
